@import "./partials/bootsrap-overrides";

// home

.w-10 {
  width: 7rem;
}
.w-10 {
  width: 10rem;
  @media screen and (max-width: 998px) {
    margin-bottom: 2rem;
  }
}
.division {
  @media screen and (min-width: 998px) {
    width: 25%;
  }
}
.division2 {
  @media screen and (min-width: 998px) {
    width: 75%;
  }
}
.cp {
  cursor: pointer;
}

footer p {
  margin-bottom: 0;
}

// profile

.position {
  bottom: 10px;
  left: 10px;
}

.position-relative img {
  width: 100%;
  height: 100%;
}

.bg-grey-btn {
  background-color: #333333;
  &:visited,
  &:hover,
  &:active {
    background-color: #333333;
  }
}

.w-60 {
  @media screen and (max-width: 998px) {
    width: 12rem;
    margin-inline: auto;
  }
}
.img-cont-avatar-profile {
  @media screen and (max-width: 998px) {
    height: 200px;
    width: 200px;
    overflow: hidden;
    margin-inline: auto;
    margin-bottom: 3rem;
  }
}

/* Personalizzo il label e quindi il contenitore dell'input */
.checkbox-wrapper {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 3rem;
  cursor: pointer;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Nascondo il checkbox di base del browser */
.checkbox-wrapper input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* creo il mio checkbox */
.checkbox-wrapper .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #333333;
  border: 1px solid transparent;
}

/* Creo la spunta all'interno dell'input (inizialmente nascosta) */
.checkbox-wrapper .checkmark::after {
  content: "";
  position: absolute;
  left: 9px;
  top: 2px;
  width: 5px;
  height: 15px;
  border: solid #b7b6b6;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  display: none;
}

/* Quando vado sopra con il mouse (opzionale) */
.checkbox-wrapper:hover input ~ .checkmark {
  background-color: #cccccc;
}

/* Quando l'input è selezionato, coloro il bordo dell'input */
.checkbox-wrapper input:checked ~ .checkmark {
  border-color: #676464;
}

/* Quando l'input è selezionato mostro la spunta */
.checkbox-wrapper input:checked ~ .checkmark::after {
  display: block;
}

// account

.w-30 {
  width: 29%;
}
.w-61 {
  width: 70%;
}

.bg-grey-account-page {
  background-color: #f3f3f3;
}
